.DS_Store
*.swp
*.swo

env/
env3_9/

*__pycache__*
*mypy_cache*
.ipynb_checkpoints

code/.ipython/*
code/.jupyter/*
code/.local/*
code/__pycache__/*
code/.bash_history
code/tags
code/exercises/
code/gradients/**/*.pdf

code/cart/*/*.pdf

code/**/*.db

code/linear_regression/arch

code/gradients/function_1/*pdf
code/gradients/function_2/*pdf

code/neural_networks/mnist/data/*npy
code/neural_networks/mnist/images/*.pdf
code/neural_networks/with_numpy/**/*.pdf

code/overfitting/images/*.pdf

code/solutions/
